.services {
    background-color: #fff;
    @include adaptiveValue("padding-top", 50, 20);
    @include adaptiveValue("padding-bottom", 50, 20);
    overflow: hidden;
    box-shadow: 0px 0px 40px -6px rgba(29, 117, 101, 0.20);
    
    // .services__title

    &__title {
        position: relative;
        &::before{
			content:'';
			position: absolute;
			height: rem(4);
			width: rem(50);
			border-radius: rem(10);
			background: $mainGreen;
			bottom: rem(-10);
            right: 50%;
            transform: translate(50%);
		}
    }

    // .services__slider

    &__slider {
        overflow: hidden;
        margin: 0 auto; 
        margin: 0 !important;
	    @media (max-width: em(700)){
            //width: rem(285); 
        }
        @media (max-width: $mobileSmall){
            width: 100%; 
        }
        
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
	    flex-wrap: wrap;
        gap: rem(8);
        @include adaptiveValue("padding-top", 65, 30);
        @include adaptiveValue("padding-bottom", 20, 20);
        @media (max-width: em(1296)){
            justify-content: space-around; 
        }
        @media (max-width: em(700)){
            justify-content: initial;
            flex-wrap: nowrap; 
        }
    }
    &__slide {
        width: rem(279) !important;
        border-radius: rem(30);
        @media (max-width: em(700)){
            width: 100% !important;
            margin: 0;
            flex-shrink: 0; 
            
            img {
                width: 100% !important;
                overflow: hidden;
                justify-content: center;
                display: flex;
            }
        }
    }
    // .services__button
    &__body {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &__button {
        position: relative;
        margin: 0 auto;
        justify-content: center !important;
        z-index: 1;
    }
}
//=========================================================================
.swiper {
    &__container {
        overflow: hidden;
	    width: 100%;
    }
}
// ================================================================ 
.descr-services {
    display: flex;
    align-items: center;
    @include adaptiveValue("margin-bottom", 50, 20);
    @media (max-width: em(1170)) {
        flex-direction: column;
    }
    &__title {
        color: var(--gray-5, #E0E0E0);
        text-align: center;
        font-weight: 900;
        line-height: 138%;
        text-transform: uppercase;
        width: em(350);
        height: rem(50);
        position: relative;
        margin-right: em(10);
        &::before{
            content:'';
            width: rem(4);
            height: rem(50);
            background: $mainGreen;
            position: absolute;
            right: rem(-13);
            border-radius: rem(10);
            @media (max-width: em(1170)) {
                bottom: rem(-5);
                height: rem(4);
                width: rem(50);
                left: 50%;
                transform: translateX(-50%); 
            }
        }
        @media (max-width: em(1170)) {
            margin-bottom: em(10);
        }
    }

    // .descr-services__text

    &__text {
        font-weight: 500;
		line-height: math.div( 21, 14);
        @include adaptiveValue("font-size", 14, 12);
        @media (max-width: em(1170)){
            text-align: center; 
        }
        
    }
}
// .swiper-pagination {
//     position: absolute;
//     bottom: 0;
//     color: $mainGreen;
//     right: 50%;
//     transform: translateX(-50%);
//     height: 15px;
//     width: 15px;
//     display: block;
//     background-color: $mainGreen;
//     border-radius: 50%;
// }

